{% extends 'base.html' %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div class="border rounded p-4 m-4">
        <h1>Your order</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Product name</th>
                    <td>Image</td>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{order.product.name}}</td>
                    <td><img style="height: 60px" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.price|currency}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.quantity|multiply:order.price}} VNĐ</td>
                    <td>{{order.status|default:'pending'}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        
    </div>
</div>

{% endblock %}